
.logo{
    margin: 5px;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}
.menubar{
    border: 1px solid black;
    border-bottom: 1px solid lavender;
}
.footer{
    text-align: center;
    font-size: medium;
margin-bottom: 10px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.mobile{
    display:none;
}
.pc{
    display: block;
}
@media screen and (max-width: 600px) {
    .pc{
        display:None;
    }
   .mobile{
    display: block;
   }
  }